@font-face 
{
    font-family: "CP";
    src: url("fonts/CP.ttf");
}
@font-face 
{
    font-family: "PoetsenOne-Regular";
    src: url("fonts/PoetsenOne-Regular.ttf");
}
@font-face 
{
    font-family: "Roboto";
    src: url("fonts/Roboto-Light.ttf");
}
@font-face 
{
    font-family: "SIMPLIFICA Typeface";
    src: url("fonts/SIMPLIFICA Typeface.ttf");
}
