/* body {
  background-color: #000;
  font-family: "Roboto" !important;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.7;
} */
.banner_button {
  cursor: pointer;
}

.banner_button:hover {
  background-color: #a7a6a6;
  transition: all 0.2s;
  text-decoration: none;
}

.stage {
  outline: none;
  border: none;
  display: flex;
  height: 230px;
  width: 100%;
}

.box {
  border-radius: 3rem;
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: #ccc;
  opacity: 0.7;
  height: 100px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}

.box2 {
  border-radius: 3rem;
  align-self: flex-end;
  background-color: #ccc;
  opacity: 0.7;
  margin: 0 auto 0 auto;
}

.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;
}

@keyframes bounce-5 {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, .9) translateY(0);
  }

  30% {
    transform: scale(.9, 1.1) translateY(-100px);
  }

  50% {
    transform: scale(1, 1) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-7px);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}


.landing {
  height: 100vh;
  width: 100vw;
  margin: 0%;
}

.moved {
  transform: translateY(-100vh);
  transition: 2s all ease;
  /* position: absolute; */
}


#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
}

#landing-header h1 {
  margin-bottom: 2rem;
  font-weight: 600;
  color: #fff;
}

#landing-header p {
  color: #fff;
  margin-top: 1.2rem;
}

.slideshow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(../img/logo2.png);
}

.slideshow li:nth-child(2) {
  background-image: url(../img/logo5.jpg);
  animation-delay: 3s;
}

.slideshow li:nth-child(3) {
  background-image: url(../img/logo3.jpg);
  animation-delay: 11s;
}

.slideshow li:nth-child(4) {
  background-image: url(../img/heaader.jpg);
  animation-delay: 15s;
}

.slideshow li:nth-child(5) {
  background-image: url(../img/logo6.png);
  animation-delay: 20s;
}

.slideshow li:nth-child(6) {
  background-image: url(../img/logo2.png);
  animation-delay: 25s;
}

.slideshow li:nth-child(7) {
  background-image: url(../img/logo4.jpg);
  animation-delay: 30s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  20% {
    opacity: 1
  }

  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}


.banner_fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111);
}